<nav class="site-navigation d-flex justify-content-end align-items-center">
    <div>
        <a class="d-block" href="#" rel="home"><img class="d-block" src="" alt=""><h4>HpH101+</h4></a>
    </div>
    <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
        <li><a routerLink="/Home">Home</a></li>
        <li><a routerLink ="/Register">Register</a></li>
        <li><a routerLink="/Appointment">Appointment</a></li>
        <li><a routerLink="/Departments">Departments</a></li>
        <li class="call-btn button gradient-bg mt-3 mt-md-0">
        <a class="d-flex justify-content-center align-items-center" routerLink="/Login">Login</a>
        </li>
    </ul>
 </nav>

          