
<footer class="site-footer">
  <div class="footer-widgets">
      <div class="container">
          <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                  <div class="foot-about">
                      <h2><a href="#"><img src="" alt="HPH101 +"></a></h2>

                      <p>Hospital Management doctor booking</p>

                      <p class="copyright"> 
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved Prvak Technologies pvt ltd 
                     </p>
                  </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                  <div class="foot-contact">
                      <h2>Contact</h2>

                      <ul class="p-0 m-0">
                          <li><span>Addtress:</span></li>
                          <li><span>Phone:</span></li>
                          <li><span>Email:</span></li>
                      </ul>
                  </div>
              </div><!-- .col -->

              <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                  <div class="foot-links">
                      <h2>Usefull Links</h2>

                      <ul class="p-0 m-0">
                          <li><a routerLink="/Home">Home</a></li>
                          <li><a routerLink="/Register">Register</a></li>
                          <li><a routerLink="/Departments">Departments</a></li>
                          <li><a routerLink="/Appointment">Appointment</a></li>
                          <li><a routerLink="/Login">Login</a></li>
                          
                      </ul>
                  </div><!-- .foot-links -->
              </div><!-- .col -->
          </div><!-- .row -->
      </div><!-- .container -->
  </div><!-- .footer-widgets -->
</footer><!-- .site-footer -->
