<div class="main">
<div class="card">
        <div class="title">
        <h1>hospitals</h1>
        </div>
        <div class="image">
                <img src="assets/images/hospital.jpg">
        </div>
        <div class="des">
        <button class="btn btn-primary" style="padding: 5px;" (click)="registerHos()">Register</button>
        </div>
     
</div>


<div class="card">
        <div class="title">
        <h1>patient</h1>
        </div>
        <div class="image">
                <img src="assets/images/emp.jpg">
        </div>
        <div class="des">
        <button class="btn btn-primary" style="padding: 5px;" (click)="registerPat()">Register</button>
        </div>
     
</div>


<div class="card">
        <div class="title">
        <h1>Doctor</h1>
        </div>
        <div class="image">
                <img src="assets/images/doc.jpg">
        </div>
        <div class="des">
         <button class="btn btn-primary" style="padding: 5px;" (click)="docRegister()">Register</button>
        </div>
     
</div>

</div>
<app-footer></app-footer>